<div class="pure-u-1-1">
  <% @articles.each do |article| %>
    <div class="article">
      <h1><%= link_to article.title, article_path(article.data.sys[:id]) %></h1>
      <%= simple_format article.shortIntroduction.html_safe %>
      <div class="image">
        <img src="<%= article.mainImage.url %>">
      </div>
    </div>
  <% end %>
</div>
